.searchBar{
	max-width: 500px;
	float: right;
	padding-bottom: 3px;
}
#addModel{
	padding-bottom: 10px;
}

#response{
	padding-top: 5px;
}
.counthead{
	text-align: center;
}
.iconCounter{
	text-align: center;
}
.valCounter{
	font-size: 40px;
	text-align: center;
}

.sendicon{
	font-size: 75px;
}

.tit{
	margin:auto;
	padding:auto;
	text-align: center;
	font-size: 20px;
}

.glyphicon.glyphicon-music{
	font-size: 75px;
}
#callback{
	padding-top: 10px;
}
#ashmsg{
	max-width: 1000px;
	margin:auto;
}
#shchmsg{
	max-width: 500px;
	margin:auto;
}
#chpwdcont{
	max-width: 500px;
	margin:auto;
}
#musicheader{
	font-size: 30px;
	font-family: fantasy;
}

.inp{
	padding-top: 3px;
}
